{% extends 'user/base.html' %}
{% load static %}

{% block content %}
	
	<h3 style="color: Red;">Blood: <small style="color: black;">Everything we need to know</small></h3>
	<hr>

	<section>
		<p><span style="color: Red;">Blood</span> is a combination of plasma and cells that circulate through the entire body. It is a specialized bodily fluid that supplies essential substances around the body, such as sugars, oxygen, and hormones.</p>
	</section>
	
	<section>
		<h4 style="color: Green;">Functions</h4>
		<ul style="list-style-type:square">
			<li>
				supplying oxygen to cells and tissues
			</li>
			<li>
				providing essential nutrients to cells, such as amino acids, fatty acids, and glucose
			</li>	
			<li>
				removing waste materials, such as carbon dioxide, urea, and lactic acid		
			</li>
			<li>
				protecting the body from infection and foreign bodies through the white blood cells
			</li>
			<li>
				transporting hormones from one part of the body to another, transmitting messages, and completing important processes
			</li>
			<li>
				engorging parts of the body when needed, for example, a penile erection as a response to sexual arousal
			</li>
		</ul>
	</section>
	
	<section>
		<h4 style="color: Green;">Structure</h4>
		<p><span style="color: Red;">Blood</span> consists of plasma, red and white blood cells, and platelets.</p>
		<div>
			<img src="{% static "user/compo.jpg" %}" alt="logo" width="50%" height="30%">
		</div>
		<p><strong>1. Plasma:</strong> This constitutes approximately 55 percent of blood fluid in humans. Plasma is 92 percent water, and the contents of the remaining 8 percent include:</p>
		<ul style="list-style-type:square">
			<li>
				carbon dioxide
			</li>
			<li>
				glucose
			</li>
			<li>
				hormones
			</li>
			<li>
				proteins
			</li>
			<li>
				minerals
			</li>
			<li>
				salts
			</li>
			<li>
				fats
			</li>
			<li>
				vitamins
			</li>
		</ul>

		<p>The remaining 45 percent of the blood mainly consists of red and white blood cells and platelets. Each of these has a vital role to play in keeping the blood functioning effectively.</p>

		<p><strong>2. Red Blood Cells (RBCs):</strong> They are shaped like slightly indented, flattened disks and transport oxygen to and from the lungs. Hemoglobin is a protein that contains iron and retains the oxygen until its destination. The life span of an RBC is 4 months, and the body replaces them regularly. Amazingly, our body produces around 2 million blood cells every second.

		<p>The expected number of RBCs in a single drop, or microliter, of blood is 4.5 to 6.2 million in men and 4.0 to 5.2 million in women.</p>

		<p><strong>3. White Blood Cells (WBCs):</strong> White blood cells make up less than 1 percent of blood content, and they form vital defenses against disease and infection. The normal range of the number of white blood cells in a microliter of blood is between 3,700 and 10,500. Higher and lower levels of white blood cells can indicate disease.</p>

		<p><strong>4. Platelets:</strong> These interact with clotting proteins to prevent or stop bleeding. There should be between 150,000 and 400,000 platelets per microliter of blood.</p>

	</section>

	<section>
		<h4 style="color: Green;">Disorders</h4>
		<p>Disorders and diseases of the blood can be dangerous. They can spread rapidly during the circuit of the bloodstream around the body, and impair the many functions aided by blood.</p>

		<p>The most common blood disorders are:</p>
		<ul style="list-style-type:circle;">
			<li>
				<p><strong>Anemia:</strong> This is a shortage of RBCs or hemoglobin in the blood. As a result, the cells do not transport oxygen effectively, and symptoms can include fatigue and pale skin.</p>
			</li>
			<li>
				<p><strong>Blood clots:</strong> These can be vital for the healing process of wounds and injuries. However, some clots coagulate inside a blood vessel and create a blockage. They can also become dislodged and move through the heart to the lungs, leading to a pulmonary embolism. Clots can be fatal.</p>
			</li>
			<li>
				<p><strong>Blood cancers:</strong> Leukemia, myeloma, and lymphoma are types of blood cancer. Mutated blood cells divide uncontrollably without dying at the normal point in the life cycle of a cell. If symptoms of a blood disorder are suspected, the patient should visit a primary care physician. It is likely that they will be referred to a specialist in blood disorders, known as a hematologist.
				</p>
			</li>
		</ul>
	</section>

    <section>

    </section>
	
{% endblock %}
