<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Blood Donation</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static "css/mystyle.css" %}">

</head>
<body>

<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="{% url 'index' %}">
	    	<img src="{% static "user/blood.jpg" %}" alt="logo" width="15%" height="10%">
		</a>
	    
	    <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav mr-auto">
		    	{% if user.is_authenticated %}	
					<li class="nav-item">
				      <a class="nav-link" href="{% url 'blood_donors' %}">Blood Donors</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="{% url 'donate_blood' %}">Donate Blood</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="{% url 'about' %}">About Blood</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="#">Donation Campaign</a>
				    </li>
			        <li class="nav-item dropdown">
			            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" role="button" data-toggle="dropdown">
			            <b style="color:blue;">Hello, {{ user.first_name }}</b></a>
			            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
			                <a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a>
			                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
			            </div>
			        </li>
			    {% else %}
			    	<li class="nav-item">
				      <a class="nav-link" href="{% url 'donate_blood' %}">Donate Blood</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="{% url 'about' %}">About Blood</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="#">Donation Campaign</a>
				    </li>
			        <li class="nav-item">
			            <a class="nav-link" href="{% url 'login' %}">Login</a>
			        </li>
			        <li class="nav-item">
			            <a class="nav-link" href="{% url 'register' %}">Register</a>
			        </li>
			    {% endif %}
			</ul>
		</div>
	</nav>
</header>

<main role="main">
	<div class="container">
	    {% if messages %}
	        {% for message in messages %}
	            <div class="alert alert-warning alert-dismissible fade show" role="alert">
	                {{ message }}
	                <button class="close" data-dismiss="alert">
	                    <small><b>x</b></small>
	                </button>
	            </div>
	        {% endfor %}
	    {% endif %}

	    {% block content %}

	    {% endblock %}
	</div>
</main>

<footer class="footer">
	<div class="container text-center">
		<p style="color:white;">Copyright © Gift Soko {% now "Y" %}</p>
	</div>
</footer>


</body>
</html>