{% extends 'user/base.html' %}

{% block content %}
    <h2 class="text-center">Change Password</h2>
    <form method="POST" action="{% url 'change_password' %}">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
                <button class="close" data-dismiss="alert">
                    <small><b>x</b></small>
                </button>
            </div>
        {% endif %}
        {{ form.as_p }}
        <div class="text">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>

{% endblock %}