{% extends 'user/base.html' %}

{% block content %}

    <div class="col-md-6 offset-md-3"><br />
        <form class="login-form" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-header">
                <h3 class="text-center">Login</h3>
            </div>
            <small class="text-muted">Login with your registered username/email & Password.</small><br>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter username/email" name="username" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Enter password" name="password" required>
            </div>
            <div class="float-right">
                <a href="{% url 'forgotten_password' %}">Forgot Password?</a>
            </div>
            <br />
            <div class="text-center">
                <button type="submit" class="btn btn-success">Login</button>
            </div>
            <br />
            <div class="font-sm text-center">
                <span>Don't have an account?</span>
                <a href="{% url 'register' %}">Register Now</a>
            </div>
        </form>
    </div>

{% endblock %}


