{% extends 'user/base.html' %}

{% block content %}
    <h3 class="text-center">Register</h3><br>
    <div class="col-md-6 offset-md-3">
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {% for field in form %}
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                    <button class="close" data-dismiss="alert">
                        <small><b>x</b></small>
                    </button>
                </div>
            {% endif %}

            {{ form.as_p }}

            <div class="text-center">
                <button type="submit" class="btn btn-success">Register</button>
            </div>
            <br>
            <div class="font-sm text-center">
                <span>Already Registered?</span>
                <a href="{% url 'login' %}">Login</a>
            </div>

        </form>
    </div>
{% endblock %}